@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/***** GENERAL *****/

body {
    margin: 0;
    font-family: 'Itim';
    min-width: 360px;
    background-color: #f8f5ee;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
